@use '../colors';
@use '../padding';
@use '../font';

.form {
    width: auto;
    height: auto;
}

.form__input {
    background-color: colors.$boxColor;
    padding: padding.$standard;
    width: 100%;
    border: none;
    border-radius: padding.$small;
    font-size: font.$standard;
    font-weight: bold;
    margin-top: padding.$xs;
    margin-bottom: padding.$xs;
}







    

