@use '../colors';
@use '../padding';
@use '../font';


.input__text{
    background-color: colors.$boxColor;
    padding: padding.$standard;
    width: 100%;
    border: none;
    border-radius: padding.$small;
    font-size: font.$standard;
    font-weight: bold;
    margin-top: padding.$xs;
    margin-bottom: padding.$xs;
    
}

.form__link {
    color: colors.$buttonBlue;
    font-weight: bolder;
}

.text__link {
    padding-left: padding.$large;

}







    

