@use '../colors';
@use  '../padding';
@use '../font';

.list {
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.list__item {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.list__item--header {
    font-weight: bolder;
    font-style: italic;
    color: colors.$river;
}

.list__item--rank {
    font-weight: bolder;
}

.list__item--amount {
    font-weight: bolder;
    color: colors.$buttonBlue;
}