@use '../colors';
@use  '../padding';
@use '../font';

.transactions--head{
    font-weight: bold;
    text-transform: uppercase;
    font-size: font.$medium;
    color: colors.$river;
  }

  .balance{
    background-color: colors.$boxColor;
    padding: padding.$xxl;
    border-radius: padding.$large;
    margin: padding.$xl 0;
  }

  .balance_bg {
    padding: padding.$xxl;
    border-radius: padding.$small;
    margin: padding.$large 0;
    min-width: 200px;
  }
  
  .balance__amount{
    font-size: font.$xxl;
    font-weight: bold;
    text-align: center;
    color: colors.$river;
  }
  
  .balance__subtitle{
    text-align: center;
  }
  
  .transactions{
    padding: padding.$small;
    border-radius: padding.$small;
    margin: padding.$small 0;
  }
  
  .transactions__list{
    display: flex;
    flex-flow: wrap row;
    padding: padding.$xs padding.$xl;
    border-bottom: 0.5px solid colors.$river;
  }

  .transaction{
    font-size: font.$standard;
  }
  
  .transaction__name{
    font-weight: bold;
    color: colors.$river;
    min-width: 200px;
  }
  
  .transaction__date{
    font-size: font.$small;
  }
  
  .transaction__amount {
    font-weight: bold;
    text-transform: uppercase;
  }