@use '../colors';
@use  '../padding';
@use '../font';

.heading{
    font-weight: bold;
    text-transform: uppercase;
    font-size: font.$medium;
    color: colors.$river;
  }
  
  .balance__currentBalance{
    font-size: font.$xxl;
    font-weight: bold;
    text-align: center;
    color: colors.$river;
  }
  
  .balance--head{
    text-align: center;
  }
  
  .balanceBox{
    background-color: colors.$boxColor;
    padding: padding.$xxl;
    border-radius: padding.$small;
    margin: padding.$xl 0;
  }
  
  .transactionsBox{
    padding: padding.$small;
    border-radius: padding.$small;
    margin: padding.$small 0;
  }
  
  .transactions__list{
    display: flex;
    flex-flow: wrap row;
    padding: padding.$xs padding.$xl;
    border-bottom: 0.5px solid colors.$river;
  }

  .transaction__item{
    font-size: font.$standard;
  }
  
  .transactions--name{
    font-weight: bold;
    color: colors.$river;
    min-width: 200px;
  }
  
  .transactions--date{
    font-size: font.$small;
  }
  
  .transactions--amount {
    font-weight: bold;
    text-transform: uppercase;
  }

  .balanceSend{
    padding: padding.$xl;
    border-radius: padding.$small;
    margin: padding.$large 0;
    background:  colors.$boxColor center/cover url("../images/COINS.png") no-repeat;
    min-width: 200px;
  }